<div class="container" ng-cloak>
  <div ng-show="isReady">
    <div class="page-header">
      <h1>SKY API Authorization Code Flow Tutorial</h1>
    </div>

    <!--
      LOGIN
        This section is hidden if the session has NOT been authenticated.
    -->
    <div ng-if="!isAuthenticated">
      <div class="well">
        <h4 class="well-title">Applications implementing the authorization code flow may be authorized in one of two ways:</h4>
        <div class="row">

          <!--
            LOGIN with redirect
              This option redirects the entire page to the Blackbaud Authorization site.
              The user can then authorize the content, and on success will be redirected back to the main page.
          -->
          <div class="col-sm-6">
            <div class="panel panel-default panel-body">
              <p>
                <a href="/auth/login" class="btn btn-primary btn-block btn-lg"><i class="fa fa-external-link"></i> Authorize using redirect</a>
              </p>
              <p>
                The user authorizes the application after being redirected to the Blackbaud Authorization website.
              </p>
            </div>
          </div>

          <!--
            LOGIN with popup
              this option pops open a new window to the bbauth site. The user can then authorize the content,
              and on success, the new window will close, and the parent window will redirect to the main page.
          -->
          <div class="col-sm-6">
            <div class="panel panel-default panel-body">
              <p>
                <button ng-click="popupLogin()" class="btn btn-primary btn-block btn-lg" target="login-iframe"><i class="fa fa-window-restore"></i> Authorize using popup</button>
              </p>
              <p>
                The user authorizes the application using a browser popup window.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
      CONSTITUENT DATA
        This section is only visible when the session has been authenticated and
        appropriate constituent data has been returned.
        AngularJS uses a templating engine similar to HandlebarsJS to output model data.
    -->
    <div ng-if="isAuthenticated">
      <div class="well">
        <h3 class="well-title">Constituent: {{ constituent.name }}</h3>
        <p>
          See <a href="https://developer.blackbaud.com/skyapi/apis/constituent" target="_blank">Constituent</a>
          within the Blackbaud SKY API contact reference for a full listing of properties.
        </p>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>id</td>
              <td>{{ constituent.id }}</td>
            </tr>
            <tr>
              <td>type</td>
              <td>{{ constituent.type }}</td>
            </tr>
            <tr>
              <td>lookup_id</td>
              <td>{{ constituent.lookup_id }}</td>
            </tr>
            <tr>
              <td>first</td>
              <td>{{ constituent.first }}</td>
            </tr>
            <tr>
              <td>last</td>
              <td>{{ constituent.last }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="/auth/logout" class="btn btn-primary">Log out</a>
    </div>
  </div>
  <div class="lead" ng-hide="isReady">Loading...</div>
</div>
